smardMeter/smardMeter/smardMeter.Windows/Service References/smardWCFServiceReference/smardWCFService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://smard.azurewebsites.net/smardWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/smardWeb" />
  <xs:element name="GetAddressMap_EnergyMeter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressMap_EnergyMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/smardWeb" minOccurs="0" name="GetAddressMap_EnergyMeterResult" nillable="true" type="q1:ArrayOfadrmap_energymeter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogRaw_EnergyMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" type="xs:int" />
        <xs:element minOccurs="0" name="iTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="bStartTime" type="xs:int" />
        <xs:element minOccurs="0" name="bEndTime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogRaw_EnergyMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/smardWeb" minOccurs="0" name="GetLogRaw_EnergyMeterResult" nillable="true" type="q2:ArrayOflog_energymeter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="dSerialNumber" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="sHostname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sIPAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sTargetAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sFirmware" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDeviceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dSerialNumber" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeviceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLogEntry_EnergyMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/smardWeb" minOccurs="0" name="logdata" nillable="true" type="q3:log_energymeter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLogEntry_EnergyMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLogEntry_EnergyMeterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>